<h1><%- title %></h1>
<!-- Flash messages -->
<%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>
      <section class="form-section">
        <form class="input-box" action="/inv/addInventory" method="post" id="addInventory-form">
          <label for="inv_make">
            Make
            <input type="text" id="inv_make" name="inv_make" placeholder="Ford" minlength="2" maxlength="50" required
              value="<%- locals.inv_make %>">
            <span class="fine-print">Required. 2-50 characters.</span>
          </label>

          <label for="inv_model">
            Model
            <input type="text" id="inv_model" name="inv_model" placeholder="Mustang" minlength="2" maxlength="50"
              required value="<%- locals.inv_model %>">
            <span class="fine-print">Required. 2-50 characters.</span>
          </label>

          <label for="inv_year">
            Year
            <input type="number" id="inv_year" name="inv_year" placeholder="2001" min="1900" max="2030" required
              value="<%- locals.inv_year %>">
            <span class="fine-print">Required. 1900-2030.</span>
          </label>

          <label for="inv_description">
            Description
            <textarea id="inv_description" name="inv_description" placeholder="Fancy and red." minlength="2"
              maxlength="100" required rows="5"><%- locals.inv_description %></textarea>
            <span class="fine-print">Required. Max 100 characters.</span>
          </label>

          <label for="inv_image">
            Image
            <input type="text" id="inv_image" name="inv_image" placeholder="red_mustang.jpg" required
              value="<%- locals.inv_image || '/images/vehicles/no-image.png' %>">
            <span class="fine-print">Required.</span>
          </label>

          <label for="inv_thumbnail">
            Thumbnail
            <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="little_red_mustang.jpg" required
              value="<%- locals.inv_thumbnail || '/images/vehicles/no-image-tn.png' %>">
            <span class="fine-print">Required.</span>
          </label>

          <label for="inv_price">
            Price
            <input type="number" id="inv_price" name="inv_price" placeholder="15000" min="0" step="0.01" required
              value="<%- locals.inv_price %>">
            <span class="fine-print">Required. Numeric only.</span>
          </label>

          <label for="inv_miles">
            Miles
            <input type="number" id="inv_miles" name="inv_miles" placeholder="100000" min="0" required
              value="<%- locals.inv_miles %>">
            <span class="fine-print">Required. Numeric only.</span>
          </label>

          <label for="inv_color">
            Color
            <input type="text" id="inv_color" name="inv_color" placeholder="Red" minlength="2" maxlength="30" required
              value="<%- locals.inv_color %>">
            <span class="fine-print">Required. 2-30 characters.</span>
          </label>

          <label for="classificationList">
            Classification
            <%- classifications %>
              <span class="fine-print">Required.</span>
          </label>

          <input type="submit" value="ADD">
        </form>
      </section>